[submodule "sourcedata/smriprep"]
	path = sourcedata/smriprep
	url = /lustre03/project/6003287/datasets/cneuromod_processed/fmriprep/..//smriprep/
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
[submodule "sourcedata/things"]
	path = sourcedata/things
	url = /project/rrg-pbellec/ria-beluga/alias/cneuromod_things
	datalad-id = 5151ad3c-321e-4111-abf0-95fee0dcbb90
	datalad-url = "ria+file:///project/rrg-pbellec/ria-beluga#~cneuromod_things"
	branch = rel/2021
[submodule "containers"]
	path = containers
	url = /project/rrg-pbellec/ria-beluga/alias/repronim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "ria+file:///project/rrg-pbellec/ria-beluga#~repronim/containers"
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /project/rrg-pbellec/ria-beluga/alias/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = "ria+file:///project/rrg-pbellec/ria-beluga#~templateflow"
