[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~templateflow"
[submodule "containers"]
	path = containers
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/repronim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~repronim/containers"
[submodule "sourcedata/smriprep"]
	path = sourcedata/smriprep
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.anat.smriprep
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.anat.smriprep"
[submodule "sourcedata/friends"]
	path = sourcedata/friends
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.friends.raw
	datalad-id = 66738676-1d20-11ea-9a9e-3ea8d101da1a
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.friends.raw"
